{% extends 'ukpython/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>{{ group.name }}</h2>

    <ul>
      <li><a href="{{ group.url }}">Website</a></li>
    </ul>

    <hr />

    {% if next_event %}
    <h3>Next event</h3>
    {% include './_event_without_group.html' with event=next_event %}
    {% else %}
    <p>No upcoming events.</p>
    {% endif %}

    {% if other_future_events %}
    <hr />
    <h3>Upcoming events</h3>
    {% for event in other_future_events %}
    {% include './_event_without_group.html' with event=event %}
    {% endfor %}
    {% endif %}

    {% if past_events %}
    <hr />
    <h3>Past events</h3>
    {% for event in past_events %}
    {% include './_event_without_group.html' with event=event %}
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
