{% load markdown_deux_tags %}

Welcome to the {{ month_name }} edition of UK Python News!<br />
<br />
If you run a regular meetup, are putting on an event that you&#39;d like us to publicise, or have other news you&#39;d like to share, please <a href="http://2016.pyconuk.org/contact/" target="_blank">let us know</a>. The deadline for the {{ next_month_name }} edition is {{ next_month_deadline|date:"jS F" }}.<br />
<br />
You can catch up with latest news and events <a href="http://uk.python.org/">on our website</a>, or follow us <a href="https://twitter.com/pyconuk">on Twitter</a>.<br />
<br />
All the best,<br />
<br />
~ The PyCon UK Committee<br />
<br />

{% if news_items %}
<h3 class="null">Announcements</h3>

{% for item in news_items %}
<h4 class="null">{{ item.title }}</h4>

{% if item.content_format == 'md' %}
{{ item.content|markdown }}
{% else %}
{{ item.content|safe }}
{% endif %}
<br />
{% endfor %}
{% endif %}

{% if sponsored_news_items %}
<h3 class="null">From our sponsors</h3>

<p>Each month, we feature one or two short sponsored announcements from our conference sponsors.  <a href="http://pyconuk.org/sponsorship/">Could your company sponsor PyCon UK?</a></p>

{% for item in sponsored_news_items %}
<h4 class="null"><a href="{{ item.sponsor.url }}">{{ item.sponsor.name }}</a></h4>

{% if item.content_format == 'md' %}
{{ item.content|markdown }}
{% else %}
{{ item.content|safe }}
{% endif %}
<br />
{% endfor %}
{% endif %}

<h3 class="null">Upcoming events</h3>

{% for event in upcoming_events %}
<a href="{{ event.user_group.url }}" target="_blank">{{ event.user_group.name }}</a><br />
{{ event.name }}<br />
{{ event.date|date:"l jS F" }}, {{ event.time|date:"G:i" }}<br />
{{ event.venue }}<br />
<a href="{{ event.url }}" target="_blank">More details</a><br />
<br />
{% endfor %}

<h3 class="null">Other groups</h3>

There are a number of other Python groups who have not yet published details of any {{ month_name }} meetings.  {% if month_name == 'August' %}(Things are always a bit quieter in August!){% endif %}<br /><br />

{% for group in groups_with_no_events_scheduled %}
<a href="{{ group.url }}" target="_blank">{{ group.name }}</a><br />
{% endfor %}
